/* Enter your custom styles here */
.bg_imagen_blur{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("../img/fondo2.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* filter: blur(2px); */
    object-fit: cover;
    /* position: absolute;  */
}
.sapMPanel .sapMPanelHdr, .sapMPanel .sapMTB.sapMPanelHeaderTB { 
    background: white;
    border-radius: 1rem;
}
.blanco{
    background-color: white;
}

/* main  */
/* .sapUxAPObjectPageWrapperTransform {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("../img/fondo2.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); 
    object-fit: cover;
}  */